* {
    margin: 0;
    padding: 0;
    font-family: "Overpass Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 700;
    font-size: 20px;
    font-style: normal;
    color: #222944;
}
body {
    background-color: #E7F2F8;
}
main {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
::placeholder {
    color: #A7B5EB;
}

/* Logo */
.logo {
    position: absolute;
    margin: 20px 0 0 40px;
    transition: filter 5s linear 100ms;
}
.logo:hover {
    filter: hue-rotate(1080deg);
}

/* Form containers */
.window {
    width: 600px;
    height: 240px;
    border-radius: 50px;
    border: 3px solid #222944;
    background-color: #FEFEFE;
    box-shadow: -5px 10px 0 0 #D1D8F7;
}
form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 50px 0 50px;
}

/* Window banner */
.banner {
    margin-top: 30px;
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.banner span {
    flex-wrap: nowrap;
    text-align: center;
}
.banner hr {
    width: 60%;
    padding-left: 20px;
    margin-right: 10px;
    height: 3px;
    background-color: #222944;
    border-radius: 50px;
}

/* Form */
input, button {
    height: 50px;
    border: 3px solid #222944;
    border-radius: 30px;
}
input {
    width: calc(100% - 25px);
    padding-left: 20px;
}
button {
    color: #222944;
    width: 100%;
    margin-bottom: 30px;
    background: #FD9EA4;
    background: linear-gradient(20deg, #FD9EA4 0%, #FAD5A3 100%);
    align-items: center;
    transition: box-shadow 0.2s linear, color 0.2s linear;
}
button:hover {
    transition: filter 5s linear 100ms, color 0.2s linear, box-shadow 0.2s linear;
    color: white;
    box-shadow: -5px 10px 0 0 #D1D8F7;
    filter: hue-rotate(1080deg);
}
